.photos {
    width:200px;
    height:250px;
    margin-right: 50px;

}

.containerContainer{
    display: flex;
    justify-content: center;
}

.heroesContainer{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 97%;
}

.heroes{
    margin-bottom: 25px;
    margin:20px
 

}

.hero{

    border: 2px solid rgb(0, 0, 0);
    padding: 0.7rem;
    width:155px;
    height:175px;
    padding-left: 30px;
    background-color: rgb(239, 241, 242);
  
}

.name{
    font-size: 30px;
    font-weight:700;
    color: rgb(78, 200, 17);

}

