.photos {
    width:300px;
    height:300px

}


.heroes{
    display: flex;
    justify-content:space-between ;
 

}

.hero{

    background-color: rgb(124, 158, 244);
    border: 1px dotted rgb(0, 0, 0);
    padding: 0.7rem;



}