.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: #4183f56b;;
    padding-left: 100px;
    padding-bottom: 40px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.logoWhite {
    width:75px;
    height:50px;
    position: absolute;

}
